fastapi
uvicorn==0.18.1

# for databases

sqlalchemy
psycopg2

# for env var
python-dotenv

# for email validation
pydantic[email]

#hashing
passlib[bcrypt]

# for testing
pytest
requests

python-multipart